<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                 http://www.springframework.org/schema/security 
                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" access-denied-page="/">
        <intercept-url pattern="/WEB-INF" access="ROLE_USER,ROLE_ANONYMOUS"/>
        <intercept-url pattern="/" access="ROLE_USER,ROLE_ANONYMOUS"/>
        <intercept-url pattern="/add*" access="ROLE_USER"/>
        <intercept-url pattern="/admin/*" access="ROLE_ADMIN"/>
        <form-login login-page="/login" default-target-url="/" authentication-failure-url="/login"/>
        <logout logout-url="/logout" delete-cookies="JSESSIONID" logout-success-url="/"/>
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
    </http>

    <global-method-security secured-annotations="enabled" />

    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailsServiceImpl" >
            <password-encoder hash="md5" />
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="UserDetailsServiceImpl" class="ua.goit.gojava32.kickstarter.service.UserDetailsServiceImpl"/>

    <beans:bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>

